<div id="merchant-account" class="account">
  
  <div id="store-profile" class="column">
    <h4>Store Profile</h4>
    <dl>
      <dt>Info &amp; Appearance</dt>
      <dd><%= link_to 'Company info', main_app.edit_merchant_store_path(@store) %></dd>
      <dd><%= link_to 'Profile picture', main_app.merchant_store_profile_image_path(@store) %></dd>
      <dd><%= link_to 'Banner image', main_app.merchant_store_banner_image_path(@store) %></dd>
    </dl>

    <dl>
      <dt>Connections</dt>
      <dd><%= link_to 'Link your store to Facebook', main_app.facebook_page_merchant_store_path(@store) %></dd>
    </dl>

    <dl>
      <dt>Settings</dt>
      <dd><a href="<%= main_app.edit_merchant_store_admin_url(@store) %>">Add or remove store admin</a></dd>
    </dl>
  </div>
  
  <div id="orders-and-sales" class="column">
    <h4>Orders &amp; Sales</h4>
    <dl>
      <dt>Order</dt>
      <li><%= link_to "All orders", main_app.merchant_store_orders_path(@store) %></li>
      <li><%= link_to "Open orders", main_app.merchant_store_orders_path(@store, :open_orders => 1) %></li>
      <li><%= link_to "Complete orders", main_app.merchant_store_orders_path(@store, :complete_orders => 1) %></li>    </dl>
    </dl>
    
    <dl>
      <dt>Sale Listings</dt>
      <li><%= link_to 'Add new products', main_app.new_merchant_store_product_url(@store) %></li>
      <li><%= link_to 'View and edit your sale listings', main_app.merchant_store_products_url(@store) %></li>
    </dl>
    
  </div>
  
  <div class="column">
    
    <dl>
      <dt>Promote on Soletron</dt>
      <li><%= link_to "Create a new promotion", main_app.new_merchant_store_promotion_path(@store) %></li>
      <li><%= link_to "View existing promotions", main_app.merchant_store_promotions_path(@store) %></li>
    </dl>
    
    <dl>
      <dt>Payments</dt>
      <dd><a href="#TODO">View payment periods</a></dd>
    </dl>
  </div>

</div>
