<%= render :partial => '/spree/users/sidebar' %>

<h2><%= t("new_image") %></h2>

<%= form_for(:image, :url => main_app.account_profile_image_path, :html => { :multipart => true }) do |image_form| %>
  <%= render :partial => '/spree/shared/error_messages', :locals => {:target => @profile_image} %>
  <%= render :partial => "form", :locals => { :f => image_form } %>
  <p class="form-buttons">
    <%= image_form.submit 'Add Profile Picture', :class => "simpleButton green" %>
    <%= t('or') %> <%= link_to t("cancel"), "#", :id => "cancel_link" %>
  </p>
<% end %>
