<%= render :partial => "/merchant/shared/sidebar" %>

<div class="admin-panel-group-container-container">


<%= form_for @store.profile_image, :url => main_app.merchant_store_profile_image_path(@store), :html => { :method => :put, :multipart => true } do |image_form| %>
  <%= render :partial => '/spree/shared/error_messages', :locals => {:target => @profile_image} %>
  <%= render :partial => 'form', :locals => {:f => image_form} %>
  <%# render :partial => 'admin/shared/edit_resource_links' %>
  <p class="form-buttons">
    <%= image_form.submit 'Update Profile Picture', :class => "simpleButton green" %>
    <%= t('or') %> <%= link_to t("cancel"), main_app.merchant_store_profile_image_path(@store), :id => "cancel_link" %>
  </p>
<% end %>

</div>
