<div id="footer">
  <div class="container">
    <nav>
      
      <dl id="dl-mens-clothing">
        <dt>MENS CLOTHING</dt>
        <dd><a href="#TODO" title="Mens top">Mens Top</a></dd>
        <dd><a href="#TODO" title="Mens Bottom">Mens Bottom</a></dd>
        <dd><a href="#TODO" title="Mens Hats">Mens Hats</a></dd>
        <dd><a href="#TODO" title="Mens Accessories">Mens Accessories</a></dd>
        <dd><a href="#TODO" title="Mens Footwear">Mens Footwear</a></dd>
        <dd><a href="#TODO" title="Mens Sale">Mens Sale</a></dd>
        <dd><a href="#TODO" title="Mens Best Sellers">Mens Best Sellers</a></dd>
      </dl>
      
      <dl id="dl-womens-clothing">
        <dt>WOMENS CLOTHING</dt>
        <dd><a href="#TODO" title="Mens top">Womens Top</a></dd>
        <dd><a href="#TODO" title="Womens Bottom">Womens Bottom</a></dd>
        <dd><a href="#TODO" title="Womens Hats">Womens Hats</a></dd>
        <dd><a href="#TODO" title="Womens Accessories">Womens Accessories</a></dd>
        <dd><a href="#TODO" title="Womens Footwear">Womens Footwear</a></dd>
        <dd><a href="#TODO" title="Womens Sale">Womens Sale</a></dd>
        <dd><a href="#TODO" title="Womens Best Sellers">Womens Best Sellers</a></dd>
      </dl>
      
      <dl id="dl-departments">
        <dt>DEPARTMENTS</dt>
        <dd><a href="/t/departments/mens" title="Men">Men</a></dd>
        <dd><a href="/t/departments/womens" title="Women">Women</a></dd>
        <dd><a href="/t/departments/children" title="Children">Children</a></dd>
        <dd><a href="/t/departments/custom_products" title="Custom Products">Custom Products</a></dd>
        <dd><a href="/t/departments/new" title="New Releases">Newly Released</a></dd>
        <dd><a href="/t/departments/featured" title="Featured Products">Featured Products</a></dd>
        <dd><a href="/products?show_only=on-sale" title="On Sale">On Sale</a></dd>
        <dd><a href="<%= spree.products_url(:order => 'most-popular') %>" title="Best Sellers">Best Sellers</a></dd>
      </dl>
      
  		<dl id="dl-most-popular">
  			<dt>MOST POPULAR</dt>
  			<dd><a href="<%= main_app.stores_url(:order => 'pop') %>" title="Brands">Brands</a></dd>
  			<dd><a href="<%= main_app.members_url(:order => 'pop') %>" title="Members">People</a></dd>
  			<dd><a href="<%= spree.products_url(:order => 'most-popular') %>" title="Products">Products</a></dd>
  		</dl>
  		
  		<dl id="dl-sign-up">
  			<dt>SIGN UP</dt>
  			<dd id="dd-sign-up-form">
  			  <form for="#TODO">
  			    <input type="text">
  			    <input type="submit" value="SUBMIT">
  			  </form>
  			</dd>
  			<dd id="dd-facebook"><a href="https://facebook.com/soletron" title="Soletron on Facebook" target="_blank">Facebook</a></dd>
  			<dd id="dd-twitter"><a href="https://twitter.com/soletron" title="Soletron on Twitter" target="_blank">Twitter</a></dd>
  			<dd id="dd-pinterest"><a href="http://pinterest.com/soletron/" title="Soletron on Pinterest" target="_blank">Pinterest</a></dd>
  			<dd id="dd-youtube"><a href="https://youtube.com/SoletronHD" title="Soletron on Youtube" target="_blank">Youtube</a></dd>
  			<dd id="dd-flickr"><a href="http://www.flickr.com/photos/soletron/" title="Soletron on Flickr" target="_blank">Flickr</a></dd>
  			<dd id="dd-spotify"><a href="#TODO" title="Soletron on Spotify" target="_blank">Spotify</a></dd>
  			<dd id="dd-rss"><a href="http://feeds.feedburner.com/SoletronRSS" title="Soletron RSS feed" target="_blank">RSS</a></dd>
  			<dd id="dd-instagram"><a href="http://web.stagram.com/n/soletron/" title="Soletron on Instagram" target="_blank">Instagram</a></dd>
  			<dd id="copyright">Soletron Copyright &#169; 2012 <!--by Soletron LLC. All Rights Reserved.--></dd>
  		</dl>
  		
  		<dl id="dl-support">
  			<dt>SUPPORT</dt>
  			<dd><a href="http://www.soletron.com/forum/faq.php" title="Visit our FAQ page">FAQ</a></dd>
  			<dd><a href="http://www.soletron.com/company/contact_us.php" target="Contact Us">Call Us</a></dd>
  			<dd><a href="https://getsatisfaction.com/soletron/feedback/topics/new?display=overlay&style=idea" target="_blank" title="Leave Feedback for Soletron">Provide Feedback</a></dd>
  		</dl>

  		<dl id="dl-members">
  			<dt>MEMBERS</dt>
  			<dd><a href="<%= spree.login_url %>" title="Sign in to the Marketplace" target="_blank">Sign In</a></dd>
  			<dd><a href="<%= spree.signup_url %>" title="Register" target="_blank">Sign Up</a></dd>
  			<dd><a href="#TODO" title="Register to become a seller" target="_blank">Apply to Save</a></dd>
  		</dl>
  		
  		<dl id="dl-company-info">
  			<dt>COMPANY INFO</dt>
  			<dd><a href="http://www.soletron.com/company/blogs.php" title="View our Partners">Partners</a></dd>
  			<dd><a href="http://www.soletron.com/company/press_releases.php" title="View Press Releases">Press</a></dd>
  			<dd><a href="http://www.soletron.com/company/synergetic.php" title="View our strategic partners">Strategic Partners</a></dd>
  			<dd><a href="http://www.soletron.com/company/advertise.php" title="Advertise on Soletron">Advertise with Us</a></dd>
  			<dd><a href="http://www.soletron.com/company/careers.php" title="View Job Opportunities">Careers</a></dd>
  			<dd><a href="http://www.soletron.com/company/privacy_policy.php" title="View our privacy policy">Privacy Policy</a></dd>
  			<dd><a href="http://www.soletron.com/company/terms_of_use.php" title="View our tems of use">Terms of Use</a></dd>
  		</dl>
  		
  		<dl id="dl-soletron-app">
  			<dt>SOLETRON APP</dt>
  			<dd><a href="http://www.soletron.com/company/iphone.php" title="Read more about the iPhone App">iPhone App</a></dd>
  			
  			<dd><a href="http://itunes.apple.com/us/app/soletron/id466365222?ls=1&mt=8" title="Buy the app in itunes" target="_blank" id="soletron-app-icon">App Store</a></dd>
  		</dl>

  	</nav>
  	
  </div>
  
</div>

  

