<div style="border-top: 2px solid red; padding-top: 10px">
    <fieldset>
      <legend>Create a New Store</legend>
      <%= form_for([:admin, @store]) do |f| %>
        <%= field_container :taxon, :name do %>
          <%= label :taxon, :name, t(:store_name) %> <span class="required space-right">*</span>
          <%= text_field :taxon, :name, :class => 'title'  %>
          <%= error_message_on :taxon, :name %>
        <% end %>

        <%= f.field_container :company_overview do %>
          <%= f.label :company_overview, t("company_overview")%><span class="required space-right">*</span>
          <%= f.text_area :company_overview, {:cols => 60, :rows => 4} %>
          <%= f.error_message_on :company_overview %>
        <% end %>

        <%= field_container :manager, :email do %>
          <%= label :manager, :email, t(:manager)%><span class="required space-right">*</span>
          <%= text_field :manager, :email, :class => 'title'  %>
          <%= error_message_on :manager, :email %>
        <% end %>

        <%= f.field_container :usa_epay_customer_number do %>
          <%= f.label :usa_epay_customer_number, t(:usa_epay_customer_number) %>
          <%= f.text_field :usa_epay_customer_number %>
          <%= f.error_message_on :usa_epay_customer_number %>
        <% end -%>

        <%= render :partial => 'brands' %>

        <%= f.field_container :store_tier_id do %>
          <%= f.label :store_tier_id, t(:store_tier)%>
          <%= f.select(:store_tier_id, StoreTier.all.collect {|st| [ st.name, st.id ] }, { :include_blank => true }) %>
          <%= f.error_message_on :store_tier %>
        <% end -%>

        <div style="width:320px; text-align:center; margin:auto;">
          <p class="form-buttons">
            <%= button t("create") %>
            <%= t('or') %> <%= link_to t("cancel"), "#", :id => "cancel_link" %>
          </p>
        </div>

      <% end %>
    </fieldset>
</div>
<script type="text/javascript">
  jQuery('#cancel_link').click(function (event) {
    jQuery('#new_store_link').show();
    jQuery('#new_store').html('');
  });

</script>