<% content_for :head do -%>
  <%= stylesheet_link_tag '/assets/store/profile' %>
<% end -%>

<% content_for :sidebar do -%>

    <div id="profile-snapshot">
      
      <div class="polaroid">
        <%= link_to image_tag(avatar, :alt=> "user image"), member.is_a?(Store) ? main_app.store_path(member) : spree.user_path(member) %>
      </div>

      <div class="ribbon">
        <div class="metadata">
          <div class="metadata-wrap">
            <h4><%= truncate(name, :length => 25) %></h4>
            <%
             location = member.location
             location += ", " + member.state if member.respond_to?(:state) && member.state.present?
            %>
            <small class="location"><%= location %></small>
            <% if member.class.name == "Spree::User" %>
            <span class="follower-following">
              <%= link_to "#{member.following.active.count}", main_app.following_member_path(member), :class => "has-tooltip", :rel => "tooltip", :title => "People I follow" %> / <%= link_to "#{member.followers.active.count}", main_app.followers_member_path(member), :rel => "tooltip", :title => "People following me" %>
            </span>
            <% else %>
              <%= link_to "#{member.followers.active.count} followers", main_app.followers_member_path(member), :class => "followers-count" %>
            <% end %>
          </div>
          <div class="ribbon-tail"></div>
        </div>
      </div>
      
      <% if current_user && current_user != member %>
        <% if current_user.is_following?(member) -%>
          <%= link_to "Unfollow", stop_following_entity_path(member), :method => :delete, 'data-confirm' => "Are you sure you want to stop following #{member.display_name}?", :class => "simpleButton grey", :id => "profile-follow-link" %>
        <% else -%>
          <%= link_to "Follow", follow_entity_path(member), :method => :post, :class => "simpleButton green", :id => "profile-follow-link" %>
        <% end -%>
        
      <% end -%>
      
    </div>
    
    <div id="profile-menu">
      <a href="<%= paths[:collection] %>" id="profile-shop-link"><%= member.is_a?(Store) ?  'Shop' : 'Collection' %></a>
      <a href="<%= paths[:about] %>" id="profile-info-link">Info</a>
      <a href="<%= paths[:feed] %>" id="profile-solefeed-link">Solefeed</a>
    </div>
    
    <div class="addthis_toolbox">
         <p style="padding:0 0 5px 0">Share this page</p>
         <ul class="uiShare">
           <li><a class="addthis_button_facebook" title="Share on Facebook"></a></li>
           <li><a class="addthis_button_twitter" title="Tweet this Page"></a></li>
           <li><a class="atom-feed" title="Subscribe to Feed" href="<%= entity_atom_feed_path(member) %>"><span class="at16nc at300bs at15nc"><span class="at_a11y">Atom</span></span></a></li>
           <li><a class="addthis_button_compact" title="Share this Page" ></a></li>
         </ul>
         <script type="text/javascript">var addthis_config = {"data_track_clickback":true};</script>
         <script type="text/javascript" src="https://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4d672cc77703a4b9"></script>
       </div>
       
             
    <% if member.is_a?(Store) %>
      <% if member.managers.find_by_user_id(current_user) %>
        <div style="padding:20px 0 0 0">
          <%= link_to 'Manage Store', main_app.merchant_store_path(@store), :class => "simpleButton grey" %>
        </div>
      <% end %>
    <% elsif member == current_user %>
      <div style="padding:20px 0 0 0">
        <%= link_to 'Manage Profile', spree.account_path, :class => "simpleButton grey" %>
      </div>
    <% end -%>

    
<% end -%>



<%= render :file => '/spree/layouts/spree_application'%>
